@page "/dewfalls"

@using Sandbox.MB.Components;
@using BuinessLogic
@using System.Collections.ObjectModel;
@using MudBlazor.Utilities;
@using System.Diagnostics;

@inject ISnackbar _snackbar;
@inject IDatabase _database;
<PageTitle>Dewfalls</PageTitle>
<div class="container">
    <MudContainer Class="align-center offset">
    <ChildContent>
        <MudText Typo="Typo.h6" Align="Align.Center">This week it's:</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center">@Turn.Name</MudText>
        <MudText Typo="Typo.h5" Align="Align.Center">@Bins</MudText>
    </ChildContent>
</MudContainer>

    <MudContainer Class="align-center justify-center container">
    <MudDropContainer T="Housemate" Items="Housemates" ItemsSelector="@((item, dropzone) => true)" ItemDropped="ItemDropped">
    <ChildContent>   
            <MudDropZone T="Housemate" Identifier="1" AllowReorder="IsEditable" Class="rounded mud-background-gray px-4 py-1 ma-7 container">
                 <MudIconButton Class="d-inline" Icon="@Icons.Material.Outlined.Edit" Size="Size.Small" OnClick="CanEdit"></MudIconButton>
                    <MudText Typo="Typo.h6" Class="mb-4 d-inline">Rota</MudText>
            </MudDropZone>
    </ChildContent>
    <ItemRenderer>
        <MudItem>
                <HousmateViewer Item="context"
                                Turn="@Turn"
                                IsEditable="@IsEditable"
                                EditItemClicked="@(() => Selected(context))" />
        </MudItem>
    </ItemRenderer>
</MudDropContainer>
</MudContainer>

<MudOverlay Visible="IsOpen" DarkBackground="true">
    <HousematesEditor SelectedHousemate="@SelectedHousemate" 
                      CloseRequested="@(() => IsOpen = false)"
                      SaveRequested="SaveEdit" />
</MudOverlay>
    <MudOverlay Visible="IsBusy" DarkBackground="true" Absolute="false">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </MudOverlay>
</div>
          
<style>
    .offset{
        padding-left:80px;
    }

    .touch{
        touch-action:none;
    }

    .container {
        min-width:270px;
        max-width:300px;
        align-content:center;
    }
</style>
@code {
    public List<Housemate> Housemates = new();
    public Housemate SelectedHousemate { get; set; } = new(1, "default", DateTime.Now, "", -1);

    public Housemate Turn = new(1, "default", DateTime.Now, "",-1);
    public string Bins { get { return BinRoaterCalculator.GetWhichBins(false); } }
    public int Offset = 2;

    public bool IsBusy { get; set; } = true;
    public bool IsEditable { get; set; } = false;
    public bool IsOpen { get; set; } = false;

    protected async override void OnInitialized()
    {
        _database.ListUpdated += LoadHousemates;
        await _database.GetHousemates();
    }

    protected override void OnAfterRender(bool firstRender) => InvokeAsync(StateHasChanged);

    private void LoadHousemates(object? sender, IEnumerable<Housemate> list)
    {
        IsBusy = true;
        Housemates = list.OrderBy(x => x.Order).ToList();
        Turn = Housemates.GetTurn(Offset);
        IsBusy = false;
    }

    private void CanEdit() => IsEditable = !IsEditable;

    private void ItemDropped(MudItemDropInfo<Housemate> dropItem)
    {
        if (!IsEditable) return;
        IsBusy = true;
        var workingList = Housemates;
        workingList.UpdateOrder(dropItem, item => item.Order, 0);
        var orderd = workingList.OrderBy(x => x.Order).ToList();
        _database.Save(orderd);
        _snackbar.Add($"{dropItem.Item.Name} was moved to position {dropItem.Item.Order} at: {DateTime.Now.ToString("hh:mm:ss tt")}",Severity.Success);
        IsBusy = false;
    }

    private void Selected(Housemate housemate)
    {
        housemate.Emoji = housemate.Emoji.ToImage();
        SelectedHousemate = housemate;
        IsOpen = true;
    }

    private void SaveEdit()
    {
        SelectedHousemate.Emoji = SelectedHousemate.Emoji.ToShort();
        for (int i = 0; i < Housemates.Count; i++)
        {
            if (Housemates[i].ID == SelectedHousemate.ID)
            {
                Housemates[i] = SelectedHousemate;    
            }
        }        

        _database.Save(Housemates);
        _snackbar.Add($"{SelectedHousemate.Name} was updated at: {DateTime.Now.ToString("hh:mm:ss tt")}", Severity.Success);

        IsOpen = false;

    }


    public void ToggleOpen() => IsOpen = !IsOpen;
    
}