@page "/Dewfalls"
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using BuinessLogic
@using System.Collections.ObjectModel;
<PageTitle>ListBox</PageTitle>
<h2>ListBox</h2>
<br/>
<div id = "ControlRegion">
<div id="listbox-control">
   <h4>House Mates:</h4>
        <SfListBox DataSource="@Housemates" TValue="string[]" TItem="Housemate" AllowDragAndDrop="true" @onclick="ReorderList" @bind-Value="@Value" @ref="listBox">
            <ListBoxFieldSettings Text="Name" Value="ID" GroupBy="Housemate.ID"></ListBoxFieldSettings>
            <ListBoxSelectionSettings Mode="Syncfusion.Blazor.DropDowns.SelectionMode.Single"></ListBoxSelectionSettings>
            <ListBoxTemplates TItem="Housemate">
                <ItemTemplate>
                    <div class="list-wrapper">
                        <span class="text">@((context as Housemate).Name)</span>
                        <span class="description">@((context as Housemate).ID)</span>
                    </div>
                </ItemTemplate>
            </ListBoxTemplates>
   </SfListBox>
 </div>
</div>
<br/>
<div>
    <span>@PositionOfEwan</span>
    <span>@Value.Last()</span>
    <button @onclick="GetPositionOfEwan">Find Me</button>
</div>

<style>
    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 200px;
    }  
    #listbox-control {
        width: 350px;
        margin: auto;
        padding-top:35px;
        padding-bottom:35px;
    }
    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }        

    .e-template-listbox .e-list-item {
        line-height: 1.5 !important;
        padding: 0 16px !important;
    }

    .list-wrapper {
        height: inherit;
        position: relative;
        padding: 14px 12px 14px 78px;
    }

    .e-listbox-container .e-list-item {
        height: auto !important;
    }

    .list-wrapper .text,
    .list-wrapper .description {
        display: block;
        margin: 0;
        padding-bottom: 3px;
        white-space: normal;
    }

    .list-wrapper .description {
        font-size: 12px;
        font-weight: 500;
    }

    .e-listbox-container .list-wrapper .text {
        font-weight: bold;
        font-size: 13px;
    }

    .list-wrapper .e-avatar {
        position: absolute;
        left: 5px;
        background-color: transparent;
        font-size: 22px;
        top: calc(50% - 35px);
    }

    .bootstrap4 .list-wrapper .e-avatar {
        top: calc(50% - 28px);
    }

    }
</style>
@code{


    private readonly string scope = "list";
    public string[] Value = { "" };
    public void ReorderList()
    {
        Housemates = new ObservableCollection<Housemate>(listBox.GetDataList());
    }

    public int PositionOfEwan = 0;

    SfListBox<string[], Housemate> listBox = null!;


    Database database = new("housemates.txt");
    public ObservableCollection<Housemate> Housemates;

    public Dewfalls()
    {
        LoadHousemates();
    }

    public void LoadHousemates()
    {
        Housemates = new(database.GetHouseMates());
    }


    private void GetPositionOfEwan()
    {
        LoadHousemates();
        ReorderList();
        database.Save(Housemates);
        PositionOfEwan = Housemates.IndexOf(Housemates.Where(i => i.Name == "Ewan").First());
    }

}

